@import '../variables.scss';

html, body {
  height: auto;
  margin: 0;
  padding-bottom: 50px;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  height: auto;
  width: auto;
  background-color: $dark-grey-color;

    .topHeaderBlock {
        display: flex;
        align-items: center;
        padding: 0px 20px;
        justify-content: space-between;
        flex-wrap: wrap;

        .shopTitle {
            width: max-content;
            font-family: $primary-font;
            color: white;
            user-select: none;
        }

        .headerTopRight {
          .headerTopMenu {
            display: flex;
            flex-direction: row;
            align-items: center;
            list-style: none;
            gap: 15px;

            .headerTopMenuElement {
              height: max-content;
              font-family: $secondary-font;
              font-weight: 500;
              color: $light-grey-color;
              transition: 0.2s ease-in-out;

              &:hover {
                color: $yantar-color;
                cursor: pointer;
              }
            }

            .searchForm {
              max-height: 40px;
              display: flex;
              display: flex;
              justify-content: center;
              align-items: center;
              display: flex;
              align-items: center;
              background-color: $dark-grey-color;
              border: 1px solid $light-grey-color;
              border-radius: 30px;
              color: $light-grey-color;
              padding-right: 1px;
                
              .searchBar {
                background: transparent;
                border: none;
                color: $light-grey-color;
                padding: 10px 15px;
                outline: none;
                font-size: 16px;
                width: 200px;
                      
                &::placeholder {
                  color: #7a7a7a;
                }
              }
                
              .searchButton {
                background-color: #ffc600;
                border: none;
                border-radius: 20px;
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: background-color 0.3s ease;
                
                &:hover {
                  background-color: #e0b300;
                }
                
                .searchIcon {
                  width: 16px;
                  height: 16px;
                }
              }
            }
          }
        }

        .mobileMenuButton {
          display: none;
          background-color: transparent;
          border: none;

          &:hover {
            cursor: pointer;
          }
        }        
    }

    .mobileMenu {
      background-color: $dark-grey-color;
      padding: 20px;
      margin-left: 0;

      .mobileMenuList {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        gap: 15px;
        padding: 0;

        .mobileMenuElement {
          height: max-content;
          font-family: $secondary-font;
          font-weight: 500;
          color: $light-grey-color;
          transition: 0.2s ease-in-out;

          &:hover {
            color: $yantar-color;
            cursor: pointer;
          }
        }

        .searchForm {
          max-height: 40px;
          display: flex;
          display: flex;
          justify-content: center;
          align-items: center;
          display: flex;
          align-items: center;
          background-color: $dark-grey-color;
          border: 1px solid $light-grey-color;
          border-radius: 30px;
          color: $light-grey-color;
          padding-right: 1px;
            
          .searchBar {
            background: transparent;
            border: none;
            color: $light-grey-color;
            padding: 10px 15px;
            outline: none;
            font-size: 16px;
            width: 200px;
                  
            &::placeholder {
              color: $light-grey-color;
            }
          }
            
          .searchButton {
            background-color: #ffc600;
            border: none;
            border-radius: 20px;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: background-color 0.3s ease;
            
            &:hover {
              background-color: #e0b300;
            }
            
            .searchIcon {
              width: 16px;
              height: 16px;
            }
          }
        }
      }
    }

    @media only screen and (min-width: 800px) {
      .mobileMenu {
        display: none !important;
      } 
    }
     
    @media only screen and (max-width: 800px) {
      .mobileMenuButton {
        display: block !important;
      } 

      .headerTopRight {
        display: none;
      }
    }
}

.topMainUrl {
  display: flex;
  margin: 2em 0 0 2em;
  font-family: $secondary-font;
  font-size: 1em;
  align-items: center;
}

@media only screen and (max-width: 800px) {
  .topMainUrl {
    font-size: 0.8em;
  }
}

main {
    z-index: 1;
    padding: 30px;

    .main_top {
      display: flex;
      flex-direction: row;
    }

    .categoryNavSide {
        height: max-content;
        width: 10em;
        background-color: $dark-grey-color;
        overflow-y: auto;
        padding: 20px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    
        .categoriesMenu {
          list-style: none;
          padding: 0;
          margin: 0;
          font-family: $secondary-font;
          color: $light-grey-color;
    
          .category {
            padding: 10px 30px;
            cursor: pointer;
            position: relative;
            border: 1px solid $light-grey-color;
    
            &:hover {
              color: $yantar-color;
            }
    
            &:first-child {
              border-top-left-radius: 5px;
              border-top-right-radius: 5px;
            }
    
            &:last-child {
              border-bottom-left-radius: 5px;
              border-bottom-right-radius: 5px;
            }
          }
          
          .category__dropdown {
            padding: 10px 30px;
            cursor: pointer;
            position: relative;
            border: 1px solid $light-grey-color;
    
            &:hover {
              color: $yantar-color;
            }
    
            &::after {
              content: "↓";
              position: absolute;
              left: 10px;
              transform: rotate(0);
              transition: transform 0.3s ease;
            }
    
            &.open::after {
              top: 6%;
              transform: rotate(-180deg);
            }
          }
    
          .subcategoriesMenu {
            display: none;
            align-items: center;
            flex-direction: column;
            list-style: none;
            background-color: $dark-grey-color;
            transition: max-height 0.3s ease;
            padding: 0;
            margin-top: 10px;
            z-index: 1000;
    
            .subcategory {
              padding: 5px 0px;
              color: $light-grey-color;
              cursor: pointer;
    
              &:hover {
                color: $yantar-color;
              }
            }
          }
        }
      }
    
      @media only screen and (max-width: 800px) {
        .categoryNavSide {
          display: none;
        }
      }

    .wrapperContainer {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      gap: 20px;
      box-sizing: border-box;
  
      .imagesSection {
          flex: 0 0 calc(30% - 10px);
          max-width: calc(30% - 10px);
          min-width: 350px;
          border-radius: 10px;
  
          .sliderContainer {
              width: 100%;
              position: relative;
              overflow: hidden;
              border-radius: 10px;
              border: 1px solid $dark-grey-color;

              .sliderButton {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background: rgba(0, 0, 0, 0.5);
                color: white;
                border: none;
                font-size: 24px;
                cursor: pointer;
                padding: 10px;
                z-index: 10;
                transition: background 0.3s;
        
                &:hover {
                    background: rgba(0, 0, 0, 0.8);
                }
              }
          
              .prevButton {
                  left: 10px;
              }
          
              .nextButton {
                  right: 10px;
              }
  
              .sliderWrapper {
                height: 400px;
                display: flex;
                transition: transform 0.5s ease;
                width: 100%;
              }
  
              .slide {
                  min-width: 100%;
                  transition: opacity 0.5s ease;
                  border-radius: 10px;
  
                  img {
                      width: 100%;
                      height: 100%;
                      display: block;
                      object-fit: cover;
                      object-position: center;
                      border-radius: 8px;
                  }
              }
  
              .indicators {
                  display: flex;
                  justify-content: center;
                  position: absolute;
                  bottom: 10px;
                  left: 50%;
                  transform: translateX(-50%);
  
                  .indicator {
                      width: 10px;
                      height: 10px;
                      margin: 0 5px;
                      background-color: #ccc;
                      border-radius: 50%;
                      cursor: pointer;
                      transition: background-color 0.3s ease;
  
                      &.active {
                          background-color: #333;
                          border-radius: 8px;
                      }
                  }
              }
          }
      }
  
      .productInfoSection {
          flex: 0 0 calc(60% - 10px);
          max-width: calc(60% - 10px);
          min-width: 300px;
          display: flex;
          flex-direction: column;
          font-family: $secondary-font;
  
          .productPrice {
              margin: 0;
              font-weight: bold;
          }
  
          .productDescription {
              margin: 10px 0 0;
              font-size: 1em;
              text-align: justify;
              word-break: break-word;
              max-width: 600px;
              padding-right: 20px;
          }

          .socialNetworksBlock {
            height: max-content;
            margin-top: auto;
            margin-bottom: 0%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .socialNetworksList {
              width: max-content;
              list-style: none;
              display: flex;
              flex-wrap: wrap;
              padding: 50px 0px 0px 0px;
              margin: 0;

              .socialNetworkList__item {

                a {
                  width: 40px;
                  height: 40px;
                  display: block;
                }

                &.icon {
                  width: 40px;
                  height: 40px;
                  object-fit: cover;

                  &:hover {
                    cursor: pointer;
                  }
                }              
              }
            }

            .makeOrderWhatsApp__router {
              padding: 10px 15px;
              border-radius: 10px;
              border: 1px solid $dark-grey-color;
              width: max-content;
              transition: 0.2s all ease-in-out;

              &:hover {
                transform: scale(1.05);
              }
            }
          }
      }
  
      
      @media (max-width: 970px) {
          flex-direction: column;

          .imagesSection {
            flex: 0 0 100%;
            max-width: 100%;
            min-width: 250px !important;
            height: min-content;
          }

          .productDescription {
            max-width: 970px !important;
          }
  
          .productInfoSection {
              flex: 0 0 100%;
              max-width: 100%;
              padding: 0px 10px;
          }
      }
    }  

    .shareSection {
        margin-top: 5vw;
    }

    .shareText {
        font-size: 1vw;
    }

    .shareIcons {
        display: flex;
        gap: 0.3vw;
        margin-top: 0.5vw;
    }

    .shareIcon img {
        width: 2.5vw;
        height: 2.5vw;
    }

    .copyButton {
        font-family: $secondary-font;
        border-radius: 1vw;
        cursor: pointer;
    }

    .orderBox {
        margin-top: 1.5vw;
    }
    
    .orderButton {
        width: 15vw;
        height: 3vw;
        background-color: black;
        color: #FFD700;
        font-family: $secondary-font;
        border-radius: 0.5vw;
        box-shadow: none;
        font-weight: 500;
        font-size: 14px;
        cursor: pointer;
        transition: color 0.5s ease;
    }

    .orderButton:hover {
        color: white;
    }

}

.productName {
  font-weight: 500;
  font-size: 1.4em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.mapMenu {
  width: max-content;
  height: max-content;
  position: absolute;
  bottom: 60px;
  display: flex;
  border: 1px solid #000;
  border-radius: 6px;
  overflow: hidden;
  background-color: #fff;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transform: translateX(-50%);
}

.mapMenu.visible {
  opacity: 1;
  visibility: visible;
}

.mapMenu a {
  padding: 8px 20px;
  text-decoration: none;
  color: #333;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  cursor: pointer;
}

.mapMenu a:hover {
  background-color: #f0f0f0;
}

.mapMenu a + a {
  border-left: 1px solid #000; /* Разделительная линия между элементами */
}

@media (max-width: 800px) {
  main {
    padding: 10px;
  }
}

footer {
    visibility: visible;
    position: fixed;
    bottom: 0;
    padding: 20px;
    width: 100%;
    height: 40px;
    background-color: $dark-grey-color;
    color: white;
    font-family: $secondary-font;
    transition: 0.3s all ease-in-out;

    .footerBox {
        display: flex;
    }

    .footerInfo {
        display: flex;
        flex-direction: column;
        width: calc(100% - 40px);
    }
}

@media (max-width: 800px) {
  footer {
    visibility: hidden;
    height: 0px;
  }
}

