@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Great+Vibes&family=Marck+Script&family=Rampart+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  margin: 0 !important;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  height: auto;
  width: auto;
  background-color: #2e2e2e;
}
header .topHeaderBlock {
  display: flex;
  align-items: center;
  padding: 0px 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}
header .topHeaderBlock .shopTitle {
  width: -moz-max-content;
  width: max-content;
  font-family: "Great Vibes", cursive;
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
header .topHeaderBlock .headerTopRight .headerTopMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  gap: 15px;
}
header .topHeaderBlock .headerTopRight .headerTopMenu .headerTopMenuElement {
  height: -moz-max-content;
  height: max-content;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #b3b3b3;
  transition: 0.2s ease-in-out;
}
header .topHeaderBlock .headerTopRight .headerTopMenu .headerTopMenuElement:hover {
  color: #ffbf00;
  cursor: pointer;
}
header .topHeaderBlock .headerTopRight .headerTopMenu .searchForm {
  max-height: 40px;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  align-items: center;
  background-color: #2e2e2e;
  border: 1px solid #b3b3b3;
  border-radius: 30px;
  color: #b3b3b3;
  padding-right: 1px;
}
header .topHeaderBlock .headerTopRight .headerTopMenu .searchForm .searchBar {
  background: transparent;
  border: none;
  color: #b3b3b3;
  padding: 10px 15px;
  outline: none;
  font-size: 16px;
  width: 200px;
}
header .topHeaderBlock .headerTopRight .headerTopMenu .searchForm .searchBar::-moz-placeholder {
  color: #7a7a7a;
}
header .topHeaderBlock .headerTopRight .headerTopMenu .searchForm .searchBar::placeholder {
  color: #7a7a7a;
}
header .topHeaderBlock .headerTopRight .headerTopMenu .searchForm .searchButton {
  background-color: #ffc600;
  border: none;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
header .topHeaderBlock .headerTopRight .headerTopMenu .searchForm .searchButton:hover {
  background-color: #e0b300;
}
header .topHeaderBlock .headerTopRight .headerTopMenu .searchForm .searchButton .searchIcon {
  width: 16px;
  height: 16px;
}
header .topHeaderBlock .mobileMenuButton {
  display: none;
  background-color: transparent;
  border: none;
}
header .topHeaderBlock .mobileMenuButton:hover {
  cursor: pointer;
}
header .mobileMenu {
  background-color: #2e2e2e;
  padding: 20px;
  margin-left: 0;
}
header .mobileMenu .mobileMenuList {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  gap: 15px;
  padding: 0;
}
header .mobileMenu .mobileMenuList .mobileMenuElement {
  height: -moz-max-content;
  height: max-content;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #b3b3b3;
  transition: 0.2s ease-in-out;
}
header .mobileMenu .mobileMenuList .mobileMenuElement:hover {
  color: #ffbf00;
  cursor: pointer;
}
header .mobileMenu .mobileMenuList .searchForm {
  max-height: 40px;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  align-items: center;
  background-color: #2e2e2e;
  border: 1px solid #b3b3b3;
  border-radius: 30px;
  color: #b3b3b3;
  padding-right: 1px;
}
header .mobileMenu .mobileMenuList .searchForm .searchBar {
  background: transparent;
  border: none;
  color: #b3b3b3;
  padding: 10px 15px;
  outline: none;
  font-size: 16px;
  width: 200px;
}
header .mobileMenu .mobileMenuList .searchForm .searchBar::-moz-placeholder {
  color: #b3b3b3;
}
header .mobileMenu .mobileMenuList .searchForm .searchBar::placeholder {
  color: #b3b3b3;
}
header .mobileMenu .mobileMenuList .searchForm .searchButton {
  background-color: #ffc600;
  border: none;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
header .mobileMenu .mobileMenuList .searchForm .searchButton:hover {
  background-color: #e0b300;
}
header .mobileMenu .mobileMenuList .searchForm .searchButton .searchIcon {
  width: 16px;
  height: 16px;
}
@media only screen and (min-width: 800px) {
  header .mobileMenu {
    display: none !important;
  }
}
@media only screen and (max-width: 800px) {
  header .mobileMenuButton {
    display: block !important;
  }
  header .headerTopRight {
    display: none;
  }
}

main {
  z-index: 1;
  padding: 30px 0px;
}
main .categoryNavSide {
  height: -moz-max-content;
  height: max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #2e2e2e;
  overflow-y: auto;
  padding: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
main .categoryNavSide .categoriesMenu {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #b3b3b3;
}
main .categoryNavSide .categoriesMenu .category {
  padding: 10px 30px;
  cursor: pointer;
  position: relative;
  border: 1px solid #b3b3b3;
}
main .categoryNavSide .categoriesMenu .category:hover {
  color: #ffbf00;
}
main .categoryNavSide .categoriesMenu .category:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
main .categoryNavSide .categoriesMenu .category:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
main .categoryNavSide .categoriesMenu .category__dropdown {
  padding: 10px 30px;
  cursor: pointer;
  position: relative;
  border: 1px solid #b3b3b3;
}
main .categoryNavSide .categoriesMenu .category__dropdown:hover {
  color: #ffbf00;
}
main .categoryNavSide .categoriesMenu .category__dropdown::after {
  content: "↓";
  position: absolute;
  left: 10px;
  transform: rotate(0);
  transition: transform 0.3s ease;
}
main .categoryNavSide .categoriesMenu .category__dropdown.open::after {
  top: 6%;
  transform: rotate(-180deg);
}
main .categoryNavSide .categoriesMenu .subcategoriesMenu {
  display: none;
  align-items: center;
  flex-direction: column;
  list-style: none;
  background-color: #2e2e2e;
  transition: max-height 0.3s ease;
  padding: 0;
  margin-top: 10px;
  z-index: 1000;
}
main .categoryNavSide .categoriesMenu .subcategoriesMenu .subcategory {
  padding: 5px 0px;
  color: #b3b3b3;
  cursor: pointer;
}
main .categoryNavSide .categoriesMenu .subcategoriesMenu .subcategory:hover {
  color: #ffbf00;
}
@media only screen and (max-width: 800px) {
  main .categoryNavSide {
    display: none;
  }
}/*# sourceMappingURL=mainPage.css.map */