@import 'variables';

body {
    margin: 0 !important;
    padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  height: max-content;
  width: auto;
  background-color: $dark-grey-color;

    .topHeaderBlock {
        display: flex;
        align-items: center;
        padding: 0px 20px;
        justify-content: space-between;
        flex-wrap: wrap;

        .shopTitle {
            width: max-content;
            font-family: $primary-font;
            color: white;
            user-select: none;
        }

        .headerTopRight {
          .headerTopMenu {
            display: flex;
            flex-direction: row;
            align-items: center;
            list-style: none;
            gap: 15px;

            .headerTopMenuElement {
              height: max-content;
              font-family: $secondary-font;
              font-weight: 500;
              color: $light-grey-color;
              transition: 0.2s ease-in-out;

              &:hover {
                color: $yantar-color;
                cursor: pointer;
              }
            }

            .searchForm {
              max-height: 40px;
              display: flex;
              display: flex;
              justify-content: center;
              align-items: center;
              display: flex;
              align-items: center;
              background-color: $dark-grey-color;
              border: 1px solid $light-grey-color;
              border-radius: 30px;
              color: $light-grey-color;
              padding-right: 1px;
                
              .searchBar {
                background: transparent;
                border: none;
                color: $light-grey-color;
                padding: 10px 15px;
                outline: none;
                font-size: 16px;
                width: 200px;
                      
                &::placeholder {
                  color: #7a7a7a;
                }
              }
                
              .searchButton {
                background-color: #ffc600;
                border: none;
                border-radius: 20px;
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: background-color 0.3s ease;
                
                &:hover {
                  background-color: #e0b300;
                }
                
                .searchIcon {
                  width: 16px;
                  height: 16px;
                }
              }
            }
          }
        }

        .mobileMenuButton {
          display: none;
          background-color: transparent;
          border: none;

          &:hover {
            cursor: pointer;
          }
        }        
    }

    .mobileMenu {
      background-color: $dark-grey-color;
      margin-left: 0;

      .mobileMenuList {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        gap: 15px;
        padding: 0;

        .mobileMenuElement {
          height: max-content;
          font-family: $secondary-font;
          font-weight: 500;
          color: $light-grey-color;
          transition: 0.2s ease-in-out;

          &:hover {
            color: $yantar-color;
            cursor: pointer;
          }
        }

        .searchForm {
          max-height: 40px;
          display: flex;
          display: flex;
          justify-content: center;
          align-items: center;
          display: flex;
          align-items: center;
          background-color: $dark-grey-color;
          border: 1px solid $light-grey-color;
          border-radius: 30px;
          color: $light-grey-color;
          padding-right: 1px;
            
          .searchBar {
            background: transparent;
            border: none;
            color: $light-grey-color;
            padding: 10px 15px;
            outline: none;
            font-size: 16px;
            width: 200px;
                  
            &::placeholder {
              color: $light-grey-color;
            }
          }
            
          .searchButton {
            background-color: #ffc600;
            border: none;
            border-radius: 20px;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: background-color 0.3s ease;
            
            &:hover {
              background-color: #e0b300;
            }
            
            .searchIcon {
              width: 16px;
              height: 16px;
            }
          }
        }
      }

      .mobileCategoryNavSide {
        height: max-content;
        width: auto;
        background-color: $dark-grey-color;
        overflow-y: auto;
        padding: 5px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    
        .mobileCategoriesMenu {
          display: flex;
          overflow-x: scroll;
          list-style: none;
          padding: 0 0 5px 0;
          margin: 0;
          font-family: $secondary-font;
          color: $light-grey-color;

          &::-webkit-scrollbar {
            display: none;
          }
    
          .mobileCategory {
            padding: 10px 30px;
            cursor: pointer;
            position: relative;
            border: 1px solid $light-grey-color;
    
            &:hover {
              color: $yantar-color;
            }
    
            &:first-child {
              border-top-left-radius: 5px;
              border-bottom-left-radius: 5px;
            }
    
            &:last-child {
              border-top-right-radius: 5px;
              border-bottom-right-radius: 5px;
            }
          }
          
          .mobileCategory__dropdown {
            padding: 10px 30px;
            cursor: pointer;
            border: 1px solid $light-grey-color;
            position: relative;
    
            &:hover {
              color: $yantar-color;
            }
    
            &::after {
              content: "↓";
              position: absolute;
              left: 10px;
              transform: rotate(0);
              transition: transform 0.3s ease;
            }
    
            &.open::after {
              top: 7%;
              transform: rotate(-180deg);
            }
          }
    
          .mobileSubcategoriesMenu {
            height: max-content;
            width: max-content;
            display: none;
            align-items: center;
            flex-direction: column;
            list-style: none;
            background-color: $dark-grey-color;
            transition: max-height 0.3s ease;
            padding: 0;
            margin-top: 10px;
            z-index: 1000;
    
            .mobileSubcategory {
              width: 100%;
              padding: 5px 0px;
              color: $light-grey-color;
              cursor: pointer;
    
              &:hover {
                color: $yantar-color;
              }
            }
          }
        }
      }
    
      @media only screen and (max-width: 800px) {
        .mobileCategoryNavSide {
          display: flex;
        }
      }
    }

    @media only screen and (min-width: 800px) {
      .mobileMenu {
        display: none !important;
      } 
    }
     
    @media only screen and (max-width: 800px) {
      .mobileMenuButton {
        display: block !important;
      } 

      .headerTopRight {
        display: none;
      }
    }
}

main {
  z-index: 1;
  padding: 30px 0px;

  .categoryNavSide {
    height: max-content;
    width: max-content;
    background-color: $dark-grey-color;
    overflow-y: auto;
    padding: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    .categoriesMenu {
      list-style: none;
      padding: 0;
      margin: 0;
      font-family: $secondary-font;
      color: $light-grey-color;

      .category {
        padding: 10px 30px;
        cursor: pointer;
        position: relative;
        border: 1px solid $light-grey-color;

        &:hover {
          color: $yantar-color;
        }

        &:first-child {
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }

        &:last-child {
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }
      
      .category__dropdown {
        padding: 10px 30px;
        cursor: pointer;
        position: relative;
        border: 1px solid $light-grey-color;

        &:hover {
          color: $yantar-color;
        }

        &::after {
          content: "↓";
          position: absolute;
          left: 10px;
          transform: rotate(0);
          transition: transform 0.3s ease;
        }

        &.open::after {
          top: 6%;
          transform: rotate(-180deg);
        }
      }

      .subcategoriesMenu {
        display: none;
        align-items: center;
        flex-direction: column;
        list-style: none;
        background-color: $dark-grey-color;
        transition: max-height 0.3s ease;
        padding: 0;
        margin-top: 10px;
        z-index: 1000;

        .subcategory {
          padding: 5px 0px;
          color: $light-grey-color;
          cursor: pointer;

          &:hover {
            color: $yantar-color;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 800px) {
    .categoryNavSide {
      display: none;
    }
  }
}

