{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Антикварная лавка</title>
        <meta name="description" content="">
        <link rel="icon" type="image/x-icon" href="{% static '\icons\favicon.png' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="{% static 'css/contactPage/contactPage.css' %}">
        <script type="text/javascript">
            const closeMobileMenuIcon = "{% static 'icons/closeMobileMenuIcon.png' %}";
            const openMobileMenuIcon = "{% static 'icons/menuIconLightGrey.png' %}";
        </script>
        <script src="{% static 'js/contactPage.js' %}"></script>
        <script src="https://api-maps.yandex.ru/v3/?apikey=e55d1c66-9ad0-45b1-9194-dac6a953d918&lang=ru_RU"></script>
    </head>
<body>
    <header>
        <div class='topHeaderBlock'>
            <h1 class='shopTitle'>
                <a href="{% url 'home' %}" style="text-decoration: none; color: inherit;">Ретро-лавка</a>
            </h1>
            <nav class='headerTopRight'>
                <ul class='headerTopMenu'>
                    <li class='headerTopMenuElement' id='contacts'>
                        <a href="{% url 'contact_page' %}">Контакты</a>
                    </li>
                    <li class='headerTopMenuElement' id='phoneNumber'>
                        +7 (702) 444 49 99
                    </li>
                    <li class='headerTopMenuElement' id='search'>
                        <search>
                            <form class="searchForm" action="./search/">
                                <input class="searchBar" type="search" id="product" name="q" placeholder="Поиск" />
                                <button type="submit" class="searchButton">
                                    <img class="searchIcon" src="../static/icons/searchIcon.png" alt="Поиск" />
                                </button>
                            </form>
                        </search>   
                    </li>
                </ul>
            </nav>   
            <button class='mobileMenuButton' id='mobileMenuButton'>
                <img class="mobileMenuButtonIcon" src="../static/icons/menuIconLightGrey.png" alt="Поиск" />
            </button>            
        </div>
        
        <nav class='mobileMenu' style='display: none;'>
            <ul class='mobileMenuList'>
                <li class='mobileMenuElement' id='search'>
                    <search>
                        <form class="searchForm" action="./search/">
                            <input class="searchBar" type="search" id="product" name="q" placeholder="Поиск" />
                            <button type="submit" class="searchButton">
                                <img class="searchIcon" src="../static/icons/searchIcon.png" alt="Поиск" />
                            </button>
                        </form>
                    </search>
                </li>
                <li class='mobileMenuElement' id='contacts'>
                    <a href="{% url 'contact_page' %}">Контакты</a>
                </li>
                <li class='mobileMenuElement' id='phoneNumber'>
                    +7 (702) 444 49 99
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="topMainUrl">
            <span class="topMainText">Главная / Контактная информация</span>
        </div>
        <div class="contactBox">
            <div class="contactMap  ">
                <div id="map"></div>
            </div>
            <div class="contactInfo">
                <h1>Контактная информация</h1>
                <span class="contactNum">+7 702 444 4999</span>
                <span class="contactScheduleText">График работы:</span>
                <span class="contactSchedule">Ежедевно с 11 до 6, кроме воскресенья</span>
                <span class="contactaddress">Алматы, Улица Монтажная, 27, магазин на 2 этаже</span>
            </div>
        </div>
    </main>
    <footer>
        <div class="footerInfo">
            <span class="footerNumber">+7 702 444 4999</span>
            <a href="https://2gis.kz/almaty/geo/9430047375043681/76.982054%2C43.334925" class="footerText" alt="Map" data-map='true'>Улица Монтажная, 27</a>
        </div>
    </footer>
</body>