<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Антикварная лавка</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/mainPage.css">
        <script src="/static/mainPage.js"></script>
    </head>
    <body>  
        <header>
            <div class='topHeaderBlock'>
                <h1 class='shopTitle'>Ретро-лавка</h1>
                <nav class='headerTopRight'>
                    <ul class='headerTopMenu'>
                        <li class='headerTopMenuElement' id='aboutShop'>
                            О лавке
                        </li>
                        <li class='headerTopMenuElement' id='contacts'>
                            Контакты
                        </li>
                        <li class='headerTopMenuElement' id='phoneNumber'>
                            +7 (777) 000 56 95
                        </li>
                        <li class='headerTopMenuElement' id='search'>
                            <search>
                                <form class="searchForm" action="./search/">
                                    <input class="searchBar" type="search" id="product" name="q" placeholder="Поиск" />
                                    <button type="submit" class="searchButton">
                                        <img class="searchIcon" src="../static/icons/searchIcon.png" alt="Поиск" />
                                    </button>
                                </form>
                            </search>   
                        </li>
                    </ul>
                </nav>   
                <button class='mobileMenuButton' id='mobileMenuButton'>
                    <img class="mobileMenuButtonIcon" src="../static/icons/menuIconLightGrey.png" alt="Поиск" />
                </button>            
            </div>
            
            <nav class='mobileMenu' style='display: none;'>
                <ul class='mobileMenuList'>
                    <li class='mobileMenuElement' id='search'>
                        <search>
                            <form class="searchForm" action="./search/">
                                <input class="searchBar" type="search" id="product" name="q" placeholder="Поиск" />
                                <button type="submit" class="searchButton">
                                    <img class="searchIcon" src="../static/icons/searchIcon.png" alt="Поиск" />
                                </button>
                            </form>
                        </search>
                    </li>
                    <li class='mobileMenuElement' id='contacts'>
                        Контакты
                    </li>
                    <li class='mobileMenuElement' id='phoneNumber'>
                        +7 (777) 000 56 95
                    </li>
                    <li class='mobileMenuElement' id='about'>   
                        О лавке
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <nav class='categoryNavSide'>
                <ul class='categoriesMenu'>
                    <li class='category'>Обувь</li>
                    <li class='category__dropdown'>
                        Мебель
                        <ul class='subcategoriesMenu'>
                            <li class='subcategory'>Стулья</li>
                            <li class='subcategory'>Столы</li>
                            <li class='subcategory'>Шкафы</li>
                        </ul>
                    </li>
                    <li class='category'>Посуда</li>
                    <li class='category'>Сувениры</li>
                    <li class='category'>Медали</li>
                    <li class='category__dropdown'>
                        Одежда
                        <ul class='subcategoriesMenu'>
                            <li class='subcategory'>Костюмы</li>
                            <li class='subcategory'>Шляпы</li>
                            <li class='subcategory'>Жилетки</li>
                        </ul>
                    </li>
                    
                </ul>
            </nav>
        </main>
        <footer>

        </footer>
    </body>
</html>
