{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Антикварная лавка</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/mainPage/mainPage.css' %}">
        <script type="text/javascript">
            const closeMobileMenuIcon = "http://localhost:8000/{% static 'icons/closeMobileMenuIcon.png' %}";
            const openMobileMenuIcon = "http://localhost:8000{% static 'icons/menuIconLightGrey.png' %}";
            const totalPages = {{ total_pages }};
            let currentPage = {{ page_obj.number }};
        </script>
        <script src="{% static 'js/mainPage.js' %}"></script>
    </head>
    <body>  
        <header>
            <div class='topHeaderBlock'>
                <h1 class='shopTitle'>
                    <a href="{% url 'home' %}">Ретро-лавка</a>
                </h1>  
                <nav class='headerTopRight'>
                    <ul class='headerTopMenu'>
                        <li class='headerTopMenuElement' id='aboutShop'>
                            О лавке
                        </li>
                        <li class='headerTopMenuElement' id='contacts'>
                            Контакты
                        </li>
                        <li class='headerTopMenuElement' id='phoneNumber'>
                            +7 (777) 000 56 95
                        </li>
                        <li class='headerTopMenuElement' id='search'>
                            <search>
                                <form class="searchForm" action="./search/">
                                    <input class="searchBar" type="search" id="products" name="q" placeholder="Поиск" />
                                    <button type="submit" class="searchButton">
                                        <img class="searchIcon" src="{% static 'icons/searchIcon.png' %}" alt="Поиск" />
                                    </button>
                                </form>
                            </search>   
                        </li>
                    </ul>
                </nav>   
                <button id="mobileMenuButton" class="mobileMenuButton">
                    <img class="mobileMenuButtonIcon" src="{% static 'icons/menuIconLightGrey.png' %}" alt="Меню" />
                </button>
            </div>
            
            <nav class='mobileMenu' style='display: none;'>
                <ul class='mobileMenuList'>
                    <li class='mobileMenuElement' id='search'>
                        <search>
                            <form class="searchForm" action="{% url 'search_results' %}" method="get">
                                <input class="searchBar" type="search" id="products" name="q" placeholder="Поиск" />
                                <button type="submit" class="searchButton">
                                    <img class="searchIcon" src="{% static 'icons/searchIcon.png' %}" alt="Поиск" />
                                </button>
                            </form>                            
                        </search>
                    </li>
                    <li class='mobileMenuElement' id='contacts'>Контакты</li>
                    <li class='mobileMenuElement' id='phoneNumber'>+7 (777) 000 56 95</li>
                    <li class='mobileMenuElement' id='about'>О лавке</li>
                </ul>

                <!-- Меню категорий для мобильной версии -->
                <div class='mobileCategoryNavSide'>
                    <ul class='mobileCategoriesMenu'>
                        {% for category in root_categories %}
                            {% if category.subcategories.exists %}
                                <li class='mobileCategory__dropdown'>
                                    {{ category.name }}
                                    <ul class='mobileSubcategoriesMenu'>
                                        {% for subcategory in category.get_subcategories %}
                                            <li class='mobileSubcategory' data-slug="{{ subcategory.slug }}">{{ subcategory.name }}</li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% else %}
                                <li class='mobileCategory' data-slug="{{ category.slug }}">{{ category.name }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            <nav class="categoryNavSide">
                <ul class="categoriesMenu">
                    {% for category in root_categories %}
                        <li class="category{% if category.subcategories.all %} category__dropdown{% endif %}" data-slug="{{ category.slug }}">
                            {{ category.name }}
                            {% if category.subcategories.all %}
                                <ul class="subcategoriesMenu">
                                    {% for subcategory in category.subcategories.all %}
                                        <li class="subcategory" data-slug="{{ subcategory.slug }}">{{ subcategory.name }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </nav>
            <div class="productsBox">
            {% for products in products %}
                <div class="product">
                    <a href="{% url 'product_page' category_slug=products.category.slug product_slug=products.slug %}">
                        <img src="{{ products.images.first.image.url }}" alt="{{ products.name }} Image">
                        <h3>{{ products.name }}</h3>
                        <span>{{ products.price }} ТГ</span>
                    </a>
                </div>
            {% endfor %}
        </div>
        </main>
        <div class="pagination">
            <!-- Кнопка "Назад" -->
            <button class="pagination__button" onclick="changePage(currentPage - 1)" aria-label="Назад"
                    {% if not page_obj.has_previous %} disabled {% endif %}>&laquo;</button>
    
            <!-- Номера страниц -->
            <div class="pagination__pages" id="pagination-pages">
                <!-- Здесь будут отображаться номера страниц через JS -->
            </div>
    
            <!-- Кнопка "Вперед" -->
            <button class="pagination__button" onclick="changePage(currentPage + 1)" aria-label="Вперед"
                    {% if not page_obj.has_next %} disabled {% endif %}>&raquo;</button>
        </div>
        <footer>

        </footer>
    </body>
</html>
