<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Антикварная лавка</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/mainPage.css">
    </head>
    <body>  
        <header>
            <div class='topHeaderBlock'>
                <h1>Ретро-лавка</h1>
                <div class='workScheduleBlock'>
                    <h4>График работы:</h4>
                    <p>Пн-Сб: 11-18, Вс: Выходной</p>
                </div>
            </div>
        </header>
        <main>

        </main>
        <footer>

        </footer>
        <script src="" async defer></script>
    </body>
</html>
