{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Антикварная лавка</title>
        <meta name="description" content="">
        <link rel="icon" type="image/x-icon" href="{% static '\icons\favicon.png' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="{% static 'css/productPage/productPage.css' %}">
        <script type="text/javascript">
            const openMobileMenuIcon = "{% static '\icons\menuIconLightGrey.png' %}";
            const closeMobileMenuIcon = "{% static '\icons\closeMobileMenuIcon.png' %}";
            const productName = "{{ product.name }}"
        </script>
        <script src="{% static 'js/productPage.js' %}"></script>
    </head>
<body>
    <header>
        <div class='topHeaderBlock'>
            <h1 class='shopTitle'>
                <a href="{% url 'home' %}" style="text-decoration: none; color: inherit;">Ретро-лавка</a> 
            </h1>
            <nav class='headerTopRight'>
                <ul class='headerTopMenu'>
                    <li class='headerTopMenuElement' id='contacts'>
                        <a href="{% url 'contact_page' %}">Контакты</a>
                    </li>
                    <li class='headerTopMenuElement' id='phoneNumber'>
                        +7 (702) 444 49 99
                    </li>
                    <li class='headerTopMenuElement' id='search'>
                        <search>
                            <form class="searchForm" action="{% url 'search_results' %}">
                                <input class="searchBar" type="search" id="product" name="q" placeholder="Поиск" />
                                <button type="submit" class="searchButton">
                                    <img class="searchIcon" src="{% static 'icons/searchIcon.png' %}" alt="Поиск" />
                                </button>
                            </form>
                        </search>   
                    </li>
                </ul>
            </nav>   
            <button id="mobileMenuButton" class="mobileMenuButton">
                <img class="mobileMenuButtonIcon" src="{% static 'icons/menuIconLightGrey.png' %}" alt="Меню" data-open-icon="{% static 'icons/menuIconLightGrey.png' %}" data-close-icon="{% static 'icons/closeMobileMenuIcon.png' %}" />
            </button>
        </div>
        
        <nav class='mobileMenu' style='display: none;'>
            <ul class='mobileMenuList'>
                <li class='mobileMenuElement' id='search'>
                    <search>
                        <form class="searchForm" action="{% url 'search_results' %}">
                            <input class="searchBar" type="search" id="products" name="q" placeholder="Поиск" />
                            <button type="submit" class="searchButton">
                                <img class="searchIcon" src="{% static 'icons/searchIcon.png' %}" alt="Поиск" />
                            </button>
                        </form>
                    </search>   
                </li>
                <li class='mobileMenuElement' id='contacts'>
                    <a href="{% url 'contact_page' %}">Контакты</a>
                </li>
                <li class='mobileMenuElement' id='phoneNumber'>+7 (702) 444 49 99</li>
            </ul>

            <div class='mobileCategoryNavSide'>
                <ul class='mobileCategoriesMenu'>
                    {% for category in root_categories %}
                        {% if category.subcategories.exists %}
                            <li class='mobileCategory__dropdown'>
                                {{ category.name }}
                                <ul class='mobileSubcategoriesMenu'>
                                    {% for subcategory in category.get_subcategories %}
                                        <li class='mobileSubcategory' data-slug="{{ subcategory.slug }}">{{ subcategory.name }}</li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% else %}
                            <li class='mobileCategory' data-slug="{{ category.slug }}">{{ category.name }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </nav>
    </header>
    <span class="topMainUrl">
        <a href="/home/">Главная&nbsp;</a> /
        <a href="/home/category/{{ product.category.slug }}">&nbsp;{{ product.category.name }}&nbsp;</a>/ {{ product.name }}
    </span>
    <main>
        <div class="wrapperContainer">
            <div class='imagesSection'>
                <div class="sliderContainer">
                    <div class="sliderWrapper">
                        {% for image in product.images.all %}
                        <div class="slide {% if forloop.first %}active{% endif %}">
                            <img src="{{ image.image.url }}" alt="Slide {{ forloop.counter }}">
                        </div>
                        {% endfor %}
                    </div>
                    <div class="indicators">
                        {% for image in product.images.all %}
                        <div class="indicator {% if forloop.first %}active{% endif %}"></div>
                        {% endfor %}
                    </div>
                </div>                
            </div>
            <div class='productInfoSection'>
                <h1 class='productPrice'>1700KZT</h1>
                <p class='productDescription'>
                    productDescriptionproductDescriptionproductDescriptionproductDescriptionproductDescriptionproductDescription
                    productDescriptionproductDescriptionproductDescriptionproductDescriptionproductDescriptionproductDescription
                    productDescriptionproductDescriptionproductDescriptionproductDescriptionproductDescriptionproductDescription
                    productDescriptionproductDescriptionproductDescriptionproductDescriptionproductDescriptionproductDescription
                    productDescriptionproductDescriptionproductDescriptionproductDescriptionproductDescriptionproductDescription
                    productDescriptionproductDescriptionproductDescriptionproductDescriptionproductDescriptionproductDescription
                    productDescriptionproductDescriptionproductDescriptionproductDescriptionproductDescriptionproductDescription
                </p>
                <div class='socialNetworksBlock'>
                    <ul class='socialNetworksList'>
                        <li class='socialNetworkList__item'>
                            <img class='socialNetworkList__item icon' src="{% static '\icons\icons8-telegram-app.svg' %}" data-network='telegram'></img>
                        </li>
                        <li class='socialNetworkList__item'>
                            <img class='socialNetworkList__item icon' src="{% static '\icons\icons8-vk.svg' %}" data-network='vk'></img>
                        </li>
                        <li class='socialNetworkList__item'>
                            <img class='socialNetworkList__item icon' src="{% static '\icons\icons8-whatsapp.svg' %}" data-network='whatsapp'></img>
                        </li>
                        <li class='socialNetworkList__item'>
                            <img class='socialNetworkList__item icon' src="{% static '\icons\icons8-instagram.png' %}" data-network='instagram'></img>
                        </li>
                        <li class='socialNetworkList__item'>
                            <img class='socialNetworkList__item icon' src="{% static '\icons\icons8-map-marker.png' %}" alt="Map" data-map='true'>
                        </li>                        
                    </ul>
                    <a href="https://wa.me/+77024444999?text=Здравствуйте!%20Я%20хочу%20заказать%20товар%20%22{{ product.name | urlencode }}%22.%20Был%20перенаправлен%20с%20вашего%20сайта." class='makeOrderWhatsApp__router'>
                        Сделать заказ в WhatsApp
                    </a>                                                                       
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footerInfo">
            <span class="footerNumber">+7 702 444 4999</span>
            <a href="https://2gis.kz/almaty/geo/9430047375043681/76.982054%2C43.334925" class="footerText" alt="Map" data-map='true'>Улица Монтажная, 27</a>
        </div>
    </footer>
</body>
</html>