{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Антикварная лавка</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/productPage/productPage.css' %}">
        <script type="text/javascript">
            const closeMobileMenuIcon = "{% static 'icons/closeMobileMenuIcon.png' %}";
            const openMobileMenuIcon = "{% static 'icons/menuIconLightGrey.png' %}";
        </script>
        <script src="{% static 'js/productPage.js' %}"></script>
    </head>
<body>
    <header>
        <div class='topHeaderBlock'>
            <h1 class='shopTitle'>
                <a href="{% url 'home' %}" style="text-decoration: none; color: inherit;">Ретро-лавка</a>  <!-- Добавлено оборачивание в тег <a> -->
            </h1>
            <nav class='headerTopRight'>
                <ul class='headerTopMenu'>
                    <li class='headerTopMenuElement' id='aboutShop'>
                        О лавке
                    </li>
                    <li class='headerTopMenuElement' id='contacts'>
                        Контакты
                    </li>
                    <li class='headerTopMenuElement' id='phoneNumber'>
                        +7 (702) 444 49 99
                    </li>
                    <li class='headerTopMenuElement' id='search'>
                        <search>
                            <form class="searchForm" action="./search/">
                                <input class="searchBar" type="search" id="product" name="q" placeholder="Поиск" />
                                <button type="submit" class="searchButton">
                                    <img class="searchIcon" src="{% static 'icons/searchIcon.png' %}" alt="Поиск" />
                                </button>
                            </form>
                        </search>   
                    </li>
                </ul>
            </nav>   
            <button id="mobileMenuButton" class="mobileMenuButton">
                <img class="mobileMenuButtonIcon" src="{% static 'icons/menuIconLightGrey.png' %}" alt="Меню" />
            </button>
        </div>
        
        <nav class='mobileMenu' style='display: none;'>
            <ul class='mobileMenuList'>
                <li class='mobileMenuElement' id='search'>
                    <search>
                        <form class="searchForm" action="./search/">
                            <input class="searchBar" type="search" id="product" name="q" placeholder="Поиск" />
                            <button type="submit" class="searchButton">
                                <img class="searchIcon" src="{% static 'icons/searchIcon.png' %}" alt="Поиск" />
                            </button>
                        </form>
                    </search>
                </li>
                <li class='mobileMenuElement' id='contacts'>Контакты</li>
                <li class='mobileMenuElement' id='phoneNumber'>+7 (702) 444 49 99</li>
                <li class='mobileMenuElement' id='about'>О лавке</li>
            </ul>

            <!-- Меню категорий для мобильной версии -->
            <div class='mobileCategoryNavSide'>
                <ul class='mobileCategoriesMenu'>
                    {% for category in root_categories %}
                        {% if category.subcategories.exists %}
                            <li class='mobileCategory__dropdown'>
                                {{ category.name }}
                                <ul class='mobileSubcategoriesMenu'>
                                    {% for subcategory in category.get_subcategories %}
                                        <li class='mobileSubcategory' data-slug="{{ subcategory.slug }}">{{ subcategory.name }}</li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% else %}
                            <li class='mobileCategory' data-slug="{{ category.slug }}">{{ category.name }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </nav>
    </header>
    <span class="topMainUrl">
        <a href="/home/">Главная&nbsp;</a> /
        <a href="/home/category/{{ product.category.slug }}">&nbsp;{{ product.category.name }}&nbsp;</a>/ {{ product.name }}
    </span>
    <main>
        <div class="wrapperContainer">
            <div class="productTitle">
                <div class="productImage">
                    <img src="{{ product.images.first.image.url }}" alt="{{ product.name }}">
                </div>
                <div class="productInfo">
                    <div class="productPrice">
                        <h2 class="price">{{ product.price }} ТГ</h2>
                    </div>
                    <div class="productName">
                        <h1 class="name">{{ product.name }}</h1>
                    </div>
                    <div class="productDescription">
                        <span class="description">{{ product.description }}</span>
                    </div>
                    <div class="shareSection">
                        <span class="shareText">Поделиться ссылкой на товар:</span>
                        <div class="shareIcons">
                            <a href="https://t.me/share/url?url={{ request.build_absolute_uri }}" target="_blank" class="shareIcon telegram" aria-label="Telegram">
                                <img src="{% static 'icons/icons8-telegram-app.svg' %}" alt="Telegram">
                            </a>
                            <a href="https://api.whatsapp.com/send?text={{ request.build_absolute_uri }}" target="_blank" class="shareIcon whatsapp" aria-label="WhatsApp">
                                <img src="{% static 'icons/icons8-whatsapp.svg' %}" alt="WhatsApp">
                            </a>
                            <a href="https://vk.com/share.php?url={{ request.build_absolute_uri }}" target="_blank" class="shareIcon vk" aria-label="Vk">
                                <img src="{% static 'icons/icons8-vk.svg' %}" alt="Vk">
                            </a>
                            <a href="https://twitter.com/intent/tweet?text={{ request.build_absolute_uri }}" target="_blank" class="shareIcon X" aria-label="X">
                                <img src="{% static 'icons/icons8-x.svg' %}" alt="X">
                            </a>
                            <button id="copyButton" class="copyButton">Скопировать ссылку</button>
                        </div>
                    </div>
                    <div class="orderBox">
                        <a href="https://api.whatsapp.com/send?phone=77024444999" target="_blank">
                            <button class="orderButton">Сделать заказ по WhatsApp</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footerBox">
            <div class="footerInfo">
                <span class="footerNumber">+7 702 444 4999</span>
                <a href="https://2gis.kz/almaty/geo/9430047375043681/76.982054%2C43.334925" class="footerText">Улица Монтажная, 27</a>
            </div>
        </div>
    </footer>
</body>
</html>