@import '../variables.scss';

body, html {
    margin: 0 !important;
    padding: 0;
    height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  height: auto;
  width: auto;
  background-color: $dark-grey-color;

    .topHeaderBlock {
        display: flex;
        align-items: center;
        padding: 0px 20px;
        justify-content: space-between;
        flex-wrap: wrap;

        .shopTitle {
            width: max-content;
            font-family: $primary-font;
            color: white;
            user-select: none;
        }

        .headerTopRight {
          .headerTopMenu {
            display: flex;
            flex-direction: row;
            align-items: center;
            list-style: none;
            gap: 15px;

            .headerTopMenuElement {
              height: max-content;
              font-family: $secondary-font;
              font-weight: 500;
              color: $light-grey-color;
              transition: 0.2s ease-in-out;

              &:hover {
                color: $yantar-color;
                cursor: pointer;
              }
            }

            .searchForm {
              max-height: 40px;
              display: flex;
              display: flex;
              justify-content: center;
              align-items: center;
              display: flex;
              align-items: center;
              background-color: $dark-grey-color;
              border: 1px solid $light-grey-color;
              border-radius: 30px;
              color: $light-grey-color;
              padding-right: 1px;
                
              .searchBar {
                background: transparent;
                border: none;
                color: $light-grey-color;
                padding: 10px 15px;
                outline: none;
                font-size: 16px;
                width: 200px;
                      
                &::placeholder {
                  color: #7a7a7a;
                }
              }
                
              .searchButton {
                background-color: #ffc600;
                border: none;
                border-radius: 20px;
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: background-color 0.3s ease;
                
                &:hover {
                  background-color: #e0b300;
                }
                
                .searchIcon {
                  width: 16px;
                  height: 16px;
                }
              }
            }
          }
        }

        .mobileMenuButton {
          display: none;
          background-color: transparent;
          border: none;

          &:hover {
            cursor: pointer;
          }
        }        
    }

    .mobileMenu {
      background-color: $dark-grey-color;
      padding: 20px;
      margin-left: 0;

      .mobileMenuList {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        gap: 15px;
        padding: 0;

        .mobileMenuElement {
          height: max-content;
          font-family: $secondary-font;
          font-weight: 500;
          color: $light-grey-color;
          transition: 0.2s ease-in-out;

          &:hover {
            color: $yantar-color;
            cursor: pointer;
          }
        }

        .searchForm {
          max-height: 40px;
          display: flex;
          display: flex;
          justify-content: center;
          align-items: center;
          display: flex;
          align-items: center;
          background-color: $dark-grey-color;
          border: 1px solid $light-grey-color;
          border-radius: 30px;
          color: $light-grey-color;
          padding-right: 1px;
            
          .searchBar {
            background: transparent;
            border: none;
            color: $light-grey-color;
            padding: 10px 15px;
            outline: none;
            font-size: 16px;
            width: 200px;
                  
            &::placeholder {
              color: $light-grey-color;
            }
          }
            
          .searchButton {
            background-color: #ffc600;
            border: none;
            border-radius: 20px;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: background-color 0.3s ease;
            
            &:hover {
              background-color: #e0b300;
            }
            
            .searchIcon {
              width: 16px;
              height: 16px;
            }
          }
        }
      }
    }

    @media only screen and (min-width: 800px) {
      .mobileMenu {
        display: none !important;
      } 
    }
     
    @media only screen and (max-width: 800px) {
      .mobileMenuButton {
        display: block !important;
      } 

      .headerTopRight {
        display: none;
      }
    }
}

main {
    font-family: $secondary-font;
    font-weight: 500;
    z-index: 1;
    padding: 30px 0px;

    .topMainUrl {
        margin-top: 2em;
        margin-left: 4em;
    }

    .contactBox {
        margin-top: 1.5em;
        margin-left: 4em;
        display: flex;
        flex-direction: row;
    }

    .contactMap {
        width: 35vw;
        height: 26vw;
    }

    #map {
        width: 100%;
        height: 100%;
    }

    .contactInfo {
        display: flex;
        flex-direction: column;
        margin-left: 6em;
    }

    h1 {
        margin-top: 0em;
    }

    .contactNum {
        font-weight: 600;
    }

    .contactScheduleText {
        margin-top: 1em;
    }

    .contactSchedule {
        margin-top: 0.5em;
    }

    .contactaddress {
        margin-top: 2em;
    }

    @media (max-width: 800px) {

        .topMainUrl {
            margin-left: 1em;
            margin-bottom: 1em;
            margin-top: 0;
        }

        .contactBox {
            margin: 0;
            flex-direction: column;
            align-items: center;
        }

        .contactMap {
            width: 90%;
            height: 50vw;
            margin-top: 2em;
        }

        .contactInfo {
            margin: 0 4vw;
            order: -1;
        }

        h1 {
            font-size: 1.5em;
        }
    }
}

footer {
    margin-top: 5vw;
    width: 100%;
    background-color: $dark-grey-color;
    font-family: $secondary-font;
    bottom: 0;
    position: absolute;

    .footerBox {
        display: flex;
    }

    .footerInfo {
        color: white;
        display: flex;
        flex-direction: column;
        margin-left: 5vw;
        gap: 2vw;
    }

    .footerNumber {
        margin-top: 2vw;
    }

    .footerText {
        margin-bottom: 2vw;
    }

}